{
  "root": true,
  "plugins": ["eslint-plugin-cypress"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": ["./tsconfig.json"],
    "createDefaultProgram": true
  },
  "env": { "cypress/globals": true }
}
